<section data-ng-controller="FarmersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{farmer.firstName}} {{farmer.lastName}}</h1>
        <h5>&nbsp;edit details</h5>
    </div>
    <div class="col-md-12">
        <form name="farmerForm" data-ng-submit="update()" novalidate>

            <div class="row">

                <div class="col-xs-2 col-md-2">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="farmer.title" id="title" class="form-control"
                               placeholder="Title" required>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <label class="control-label" for="firstName">First Name</label>

                    <div class="controls">
                        <input name="firstName" type="text" data-ng-model="farmer.firstName" id="firstName"
                               class="form-control"
                               placeholder="First Name" required>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <label class="control-label" for="lastName">Last Name</label>

                    <div class="controls">
                        <input name="lastName" type="text" data-ng-model="farmer.lastName" id="lastName"
                               class="form-control"
                               placeholder="Last Name" required>
                    </div>

                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <label class="control-label" for="address1">Address Line 1</label>

                    <div class="controls">
                        <input name="address1" type="text" data-ng-model="farmer.address1" id="address1"
                               class="form-control"
                               placeholder="Address Line 1" required>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <label class="control-label" for="address2">Address Line 2</label>

                    <div class="controls">
                        <input name="address2" type="text" data-ng-model="farmer.address2" id="address2"
                               class="form-control"
                               placeholder="Address Line 2" required>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <label class="control-label" for="town">Town</label>

                    <div class="controls">
                        <input name="town" type="text" data-ng-model="farmer.town" id="town"
                               class="form-control"
                               placeholder="Town">
                    </div>

                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-2 col-md-2">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{farmer.herds.length}} Groups</h3>
                        </div>
                        <ul class="list-group" style="height:150px; overflow-y:auto;">
                            <li ng-repeat="herd in farmer.herds" ng-class="{'active': selHerd.item==$index}"
                                ng-click="selHerd.item = $index"
                                class="list-group-item">{{herd.herdName}}
                                <span class="badge">{{herd.animals.length}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{farmer.herds[selHerd.item].feeds.length}} Feed Changes for Group
                                {{farmer.herds[selHerd.item].herdName}}</h3>
                        </div>
                        <ul class="list-group" style="height:150px; overflow-y:auto;">
                            <li ng-repeat="feedChg in farmer.herds[selHerd.item].feeds"
                                class="list-group-item">
                                <strong>{{feedChg.changed | date: 'shortDate'}}&nbsp;</strong>
                                <span>{{feedChg.food}}</span>

                                <a class="btn btn-xs btn-danger pull-right" ng-click="delFeed($index)"><span
                                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                <span style="float:right; margin-right:6px;">{{feedChg.qty}}kgs</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{farmer.herds[selHerd.item].animals.length}} Animals in Group
                                {{farmer.herds[selHerd.item].herdName}}</h3>
                        </div>
                        <ul class="list-group" style="height:150px; overflow-y:auto;">
                            <li ng-repeat="animal in farmer.herds[selHerd.item].animals"
                                ng-class="{'active': selAnimal.item==$index}" ng-click="selAnimal.item = $index"
                                class="list-group-item">
                                <strong>{{animal.tagID}}</strong>
                                <a class="btn btn-xs btn-danger pull-right"
                                   ng-click="delAnimal($index)"><span class="glyphicon glyphicon-trash"
                                                                      aria-hidden="true"></span></a>
                                <span style="float:right;">&nbsp;&nbsp;{{animal.dob | date: 'shortDate'}}&nbsp;&nbsp;</span>
                                <span class="badge" style="float:right;">{{animal.sex}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{farmer.herds[selHerd.item].animals[selAnimal.item].weights.length}} Weigh Pts for Tag
                                {{farmer.herds[selHerd.item].animals[selAnimal.item].tagID}}</h3>
                        </div>
                        <ul class="list-group" style="height:150px; overflow-y:auto;">
                            <li ng-repeat="weightPt in farmer.herds[selHerd.item].animals[selAnimal.item].weights | orderBy:'-taken'"
                                class="list-group-item">
                                <strong>{{weightPt.taken | date: 'shortDate'}}</strong><span style="float:right;">&nbsp;{{weightPt.weight}}kgs</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <input name="herdName" type="text" data-ng-model="newHerdName"
                           id="herdName"
                           class="form-control"
                           placeholder="New Group Name">
                </div>
                <div class="col-xs-3">
                    <div ng-hide="selHerd.item==-1">
                        <div class="row">
                            <div class="col-xs-6" style="padding-right:2px;">
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yy"
                                           ng-model="changed" is-open="openedFeed" placeholder="Date Feed Change"
                                           datepicker-options="{formatYear: 'yy',startingDay: 1}" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFeed($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                                </p>
                            </div>
                            <div class="col-xs-6" style="padding-left:2px">
                                <p class="input-group">
                                    <input name="feedQty" type="text" data-ng-model="qty" class="form-control"
                                           placeholder="Qty">
                                    <span class="input-group-addon">kgs</span>
                                </p>
                            </div>
                        </div>
                        <input name="feedType" type="text" data-ng-model="food" class="form-control"
                               placeholder="Food Details">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="row">
                        <div class="col-xs-6">
                            <input name="animalTagID" type="text" data-ng-model="newTagID" class="form-control"
                                   placeholder="New TagID">
                        </div>
                        <div class="col-xs-6" style="padding-left:2px;">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="dd/MM/yy"
                                       ng-model="dob" is-open="openedDOB" placeholder="Date of Birth"
                                       datepicker-options="{formatYear: 'yy',startingDay: 1}" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDOB($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="sex" btn-radio="'M'">Male</label>
                        <label class="btn btn-primary" ng-model="sex" btn-radio="'F'">Female</label>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-xs-2">
                    <div class="btn btn-success form-control" ng-disabled="!newHerdName.length>0"
                         ng-click="addHerd()">Add Group
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="btn btn-success form-control"
                         ng-disabled="!changed.length>0 && !qty.length>0 || selHerd.item==-1"
                         ng-click="addFeed()">Add Feed Change
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="btn btn-success form-control" ng-disabled="!newTagID.length>0"
                         ng-click="addAnimal()">Add Animal
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="btn btn-success form-control" ng-click="genDataPts()">Collect Data Pts
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-2">
                    <input type="submit" value="Update" class="btn btn-primary btn-block">
                </div>
                <div class="col-xs-2">
                    <a ui-sref="farmers.view({farmerId: farmer._id})" class="btn btn-default  btn-block">Cancel</a>
                </div>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>
