<section data-ng-controller="FarmersController" data-ng-init="findOne()">

    <div class="row">
        <div class="col-md-3">
            <div class="widget style1 blue-bg">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i style="font-size:3.7em;" class="glyphicon glyphicon-cloud"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Today income </span>

                        <h2 class="font-bold">$ 4,232</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i style="font-size:3.7em;" class="glyphicon glyphicon-home"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Today degrees </span>

                        <h2 class="font-bold">26'C</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i style="font-size:3.7em;" class="glyphicon glyphicon-wrench"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> New messages </span>

                        <h2 class="font-bold">260</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i style="font-size:3.7em;" class="glyphicon glyphicon-phone"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> New albums </span>

                        <h2 class="font-bold">12</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Line Chart Example
                            <small>With custom colors.</small>
                        </h5>
                        <div ibox-tools=""></div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas tc-chartjs-line chart-options="options" chart-data="data" auto-legend></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Hover Table
                                <small>List of data points.</small>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link binded">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link binded">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data</th>
                                    <th>User</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div style="width:200px; height:5px;">
                                            <canvas height="25" width="100" tc-chartjs-line chart-options="sparkOptions" chart-data="data"></canvas>
                                        </div>
                                    </td>
                                    <td>Samantha</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><div style="width:200px; height:5px;">
                                        <canvas height="25" width="100" tc-chartjs-line chart-options="sparkOptions" chart-data="data"></canvas>
                                    </div></td>
                                    <td>Jacob</td>
                                    <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="page-header">
        <h1>Viewing&nbsp;<span data-ng-bind="farmer.firstName"></span></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == farmer.user._id">
        <a class="btn btn-primary" data-ui-sref="farmers.edit({farmerId: farmer._id})">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="farmer.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="farmer.user.displayName"></span>
        </em>
    </small>
    <div>Farmer ID:</div>
    <h5 class="list-group-item-heading" data-ng-bind="farmer._id"></h5>
    <h4>
        <span class="list-group-item-heading" data-ng-bind="farmer.title"></span>
        <span class="list-group-item-text" data-ng-bind="farmer.firstName"></span><span>&nbsp;</span><span
            class="list-group-item-text" data-ng-bind="farmer.lastName"></span>
    </h4>
    <h4>No. Herds: {{farmer.herds.length}}</h4>

    <div ng-repeat="hrd in farmer.herds">
        <p>Herds: {{hrd.herdName}},</p>
    </div>
</section>
