<section data-ng-controller="FeedsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{feed.title}}</h1>
        <h5>&nbsp;edit details</h5>
    </div>
    <div class="col-md-12">
        <form name="feedForm" data-ng-submit="update()" novalidate>

            <div class="row">
              <div class="col-xs-3 col-md-3">
                <br/>
                <h4 class="control-label" for="">Core Ingredients</h4>
              </div>
              <div class="col-xs-2 col-md-2 ">
              </div>
              <div class="col-xs-4 col-md-4 ">
                    <label class="control-label" for="title">Food Mix Name</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="feed.title" id="title" class="form-control"
                               placeholder="Food Mix Name" required>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-3 col-md-3">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          <h3 class="panel-title">
                              Available Foods [{{foods.length}}]</h3>
                      </div>
                      <ul class="list-group" style="height:150px; overflow-y:auto;">
                          <li ng-repeat="food in foods" ng-class="{'active': selFood.item==$index}"
                              ng-click="selFood.item = $index"
                              class="list-group-item">
                              <strong>{{food.title}}&nbsp;</strong>
                              <a class="btn btn-xs btn-danger pull-right" ng-click="delFood(food)"><span
                                      class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                          </li>
                      </ul>
                  </div>
                </div>
                <div class="col-xs-2 col-md-2 ">
                  <br/><br/><br/>
                  <div class="btn btn-success form-control"
                       ng-click="addToMix()">Add Ingredient <span class="glyphicon glyphicon-chevron-right"></span>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{feed.mixes.length}} Mix Ingredients
                        </div>
                        <ul class="list-group" style="height:150px; overflow-y:auto;">
                            <li ng-repeat="mix in feed.mixes"
                                ng-class="{'active': selmix.item==$index}" ng-click="selmix.item = $index"
                                class="list-group-item">
                                <strong>{{mix.food}}</strong>
                                <a class="btn btn-xs btn-danger pull-right"
                                   ng-click="delMix($index)">
                                   <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                <span class="badge ">{{mix.shareOfFeed | number:0}}%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input name="foodID" type="text" data-ng-model="foodID"
                           id="foodID"
                           class="form-control"
                           placeholder="New Ingredient Name">
                </div>
                <div class="col-xs-2 col-md-2 ">
                </div>
                <div class="col-xs-4 col-md-4">
                  <uib-progress>
                    <uib-bar ng-repeat="mix in feed.mixes track by $index" value="mix.shareOfFeed | number:0" type="{{types[$index]}}">{{mix.shareOfFeed|number:0}}%</uib-bar>
                  </uib-progress>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-xs-3 col-md-3">
                  <div class="btn btn-success form-control"
                       ng-disabled="!foodID.length>0"
                       ng-click="addFood()">Add New Food
                  </div>
                </div>
                <div class="col-xs-2 col-md-2 ">
                </div>
                <div class="col-xs-4 col-md-4">

                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <input type="submit" value="Update" class="btn btn-primary btn-block">
                </div>
                <div class="col-xs-3 col-md-3">
                    <!-- <a ui-sref="feeds.view({feedId: feed._id})" class="btn btn-default btn-block">Cancel</a> -->
                    <a ui-sref="feeds.list" class="btn btn-default btn-block">Cancel</a>
                </div>
                <div class="col-xs-3 col-md-3">
                    <!-- <a ui-sref="/feeds" class="btn btn-default btn-block">Delete</a> -->
                    <div class="btn btn-success form-control" ng-click="remove()">Delete
                    </div>
                </div>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>
