<section data-ng-controller="HomeController">
	<br/>
	<br/>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="DMD" class="img-responsive" style="margin:auto; background-color: #000066" src="modules/core/img/brand/dmd_logo.png" />
			</div>
		</div>
		<br>
		<br class="row">
			<p class="lead">
				Herd Monitoring System
			</p>
			<br>The use of Osmonds logo is exercised under fair use</br> and the logo is not authorized by, sponsored by, or associated with the trademark owner</br> - Cross Vetpharm Group Limited.</br>Nor does the use of the Osmond logo constitute an endorsement of this <strong>prototype application </strong>by the Cross Vetpharm Group Limited.</lead>
		</div>
		<!--<div class="row">-->
			<!--<p>-->
				<!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
			<!--</p>-->
		<!--</div>-->
	</div>
</section>
